<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/styles.css" />
    <title>Proyecto Final</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="#portafolio"
                  >Portafolio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre-mi">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- Información personal -->
      <section id="personal" class="container pt-5 bg-secondary">
        <img
          src="../Maquetacion_Bootstrap/img/perfil.jpg"
          alt="foto de perfil"
          class="img-fuid img-thumbnail border rounded-circle mx-auto d-block"
          width="300px"
        />
        <p class="h2">Franco Luque Haim</p>
      </section>
      <!-- Portafolio -->
      <section id="portafolio"></section>
      <!-- Sobre mi -->
      <section id="sobre-mi"></section>
      <!-- Contacto -->
      <section id="contacto"></section>
    </main>
    <footer></footer>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
