<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/styles.css" />
    <title>Proyecto Final</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#"
            >Franco <span class="fw-bold">Luque</span></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="#portafolio"
                  >Portafolio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre-mi">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- Información personal -->
      <section
        id="personal"
        class="container p-5 mt-5 bg-secondary d-flex flex-column align-items-center gap-4 rounded"
      >
        <img
          src="../images/avatar-perfil.png"
          alt="foto de perfil"
          class="img-fuid img-thumbnail border rounded-circle mx-auto d-block"
          width="400px"
        />
        <p class="fs-1 text-center text-uppercase mb-0">
          <span class="fw-bold">Franco</span> Luque Haim
        </p>
        <div class="d-flex gap-2 align-items-center">
          <div class="line"></div>
          <i class="bi bi-star-fill fs-4"></i>
          <div class="line"></div>
        </div>
        <p class="text-center fs-5 fst-italic">
          Estudiante de la Tecnicatura en Informática de Gestión
        </p>
      </section>
      <!-- Portafolio -->
      <section
        id="portafolio"
        class="container d-flex align-items-center p-5 flex-column"
      >
        <h2 class="pt-5 fw-bolder fs-1">Portafolio</h2>
        <div class="d-flex gap-2 align-items-center mb-3">
          <div class="line bg-secondary"></div>
          <i class="bi bi-star-fill fs-4"></i>
          <div class="line bg-secondary"></div>
        </div>
        <div class="container-fluid">
          <div class="row row-gap-4">
            <!-- Tarjeta disparadora de Modal -->
            <article class="col-12 col-sm-6 col-lg-4">
              <div
                class="card position-relative"
                data-bs-toggle="modal"
                data-bs-target="#batmanModal"
              >
                <img
                  src="../Maquetacion_Bootstrap/img/CVBatman.png"
                  alt="batman"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="h3 card-text text-center">CV Batman</p>
                </div>
              </div>
              <!-- Ventana Modal -->
              <div
                class="modal fade"
                id="batmanModal"
                tabindex="-1"
                aria-hidden="true"
                aria-labelledby="batmanModalLabel"
                style="display: none"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <header class="modal-header">
                      <h2 class="modal-title" id="batmanModalLabel">
                        CV Batman
                      </h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </header>
                    <main class="modal-body">
                      <div class="text-center"></div>
                    </main>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4">
              <div class="card position-relative">
                <img
                  src="../Maquetacion_Bootstrap/img/gameshop.jpeg"
                  alt="batman"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="h3 card-text text-center">CV Batman</p>
                </div>
              </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4">
              <div class="card position-relative">
                <img
                  src="../Maquetacion_Bootstrap/img/petshop.jpeg"
                  alt="batman"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="h3 card-text text-center">CV Batman</p>
                </div>
              </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4">
              <div class="card position-relative">
                <img
                  src="../Maquetacion_Bootstrap/img/piza.jpeg"
                  alt="batman"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="h3 card-text text-center">CV Batman</p>
                </div>
              </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4">
              <div class="card position-relative">
                <img
                  src="../Maquetacion_Bootstrap/img/super.png"
                  alt="batman"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="h3 card-text text-center">CV Batman</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
      <!-- Sobre mi -->
      <section id="sobre-mi"></section>
      <!-- Contacto -->
      <section id="contacto"></section>
    </main>
    <footer></footer>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
